body {
  background-image: url("632d61_04a6fb4bdd124f4da451c61448d3a8b5_mv2_d_4000_3000_s_4_2.jpg");
  background-repeat: no-repeat;
}

p {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: space-around;
  border: 1px solid white;
  background-color: #555555;
}

p:first-child {
  display: inline;
}
